{% extends 'general/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'general/css/registro/registro.css' %}">
{% endblock %}

{% block content %}
<div class="floating-shapes">
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div class="container">
    <div class="card">

        <!-- Register Form -->
        <div id="registerForm" class="form-container">
            <div class="logo">
                <h1>Crea tu cuenta profesional</h1>
                <p>Únete a nuestra comunidad de profesionales</p>
            </div>

            <div class="logo">
                {% if mensaje %}
                <p>{{ mensaje }}...</p>
                {% endif %}
            </div>

            <form method="POST" action="{% url 'general:login_registro_profesional' %}">
                {% csrf_token %}
                <div class="form-grid">
                    <div class="form-group">
                        {{ form_user.first_name.label_tag }} {{ form_user.first_name }}
                        <div class="input-highlight"></div>
                    </div>
                    <div class="form-group">
                        {{ form_user.apellido_paterno.label_tag }} {{ form_user.apellido_paterno }}
                        <div class="input-highlight"></div>
                    </div>
                    <div class="form-group">
                        {{ form_user.apellido_materno.label_tag }} {{ form_user.apellido_materno }}
                        <div class="input-highlight"></div>
                    </div>
                    <div class="form-group">
                        {{ form_user.documento_identidad.label_tag }} {{ form_user.documento_identidad }}
                        <div class="input-highlight"></div>
                    </div>

                    <div class="form-group">
                        {{ form_user.fecha_nacimiento.label_tag }} {{ form_user.fecha_nacimiento }}
                        <div class="input-highlight"></div>
                    </div>

                    <div class="form-group">
                        {% if ciudades %}
                        <label for="ciudad_profesional">Ciudad</label>
                        <select id="select-ciudad" name="ciudad_profesional" required>
                            <option value="">Seleccionar</option>
                            {% for ciudad in ciudades %}
                            <option value="{{ ciudad.id }}" data-codigo="{{ ciudad.pais.codigo }}">{{ ciudad.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <select disabled>
                            <option value="">No disponible</option>
                        </select>
                        {% endif %}
                        <div class="input-highlight"></div>
                    </div>
                    <div class="phone-group">
                        <div class="form-group prefix-select">
                            <label for="prefijo">Prefijo</label>
                            <select id="select-codigo" name="prefijo" required>
                                <option value="">-</option>
                            </select>
                            <div class="input-highlight"></div>
                        </div>
                        <div class="form-group phone-input">
                            {{ form_user.telefono.label_tag }} {{ form_user.telefono }}
                            <div class="input-highlight"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="profesion_profesional">Profesión</label>
                        {% if profesiones %}
                        <select id="select-profesion" name="profesion_profesional" required>
                            <option value="">Seleccionar</option>
                            {% for profesion in profesiones %}
                            <option value="{{ profesion.id }}" data-codigo='{{ profesion.especialidades_json|safe }}'>{{ profesion.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <select disabled>
                            <option value="">No disponible</option>
                        </select>
                        {% endif %}
                        <div class="input-highlight"></div>
                    </div>

                    <div class="form-group">
                        <label for="especialidad">Especialidad</label>
                        <select id="select-especialidad" name="especialidad_profesional" required>
                            <option value="">-</option>
                        </select>
                        <div class="input-highlight"></div>
                    </div>

                    <div class="form-group full-width">
                        <!-- <label for="direccion_profesional">Direccion</label>
                        <input type="text" name="direccion_profesional" placeholder="Av. Mi Dirección" required> -->
                        {{ form_aspectos_negocio.direccion.label_tag }} {{ form_aspectos_negocio.direccion }}
                        <div class="input-highlight"></div>
                    </div>

                    <div class="form-group">
                        {{ form_aspectos_negocio.hora_apertura.label_tag }} {{ form_aspectos_negocio.hora_apertura }}
                        <div class="input-highlight"></div>
                    </div>

                    <div class="form-group">
                        {{ form_aspectos_negocio.hora_cierre.label_tag }} {{ form_aspectos_negocio.hora_cierre }}
                        <div class="input-highlight"></div>
                    </div>


                    <div class="form-group full-width">
                        {{ form_user.email.label_tag }} {{ form_user.email }}
                        <div class="input-highlight"></div>
                    </div>
                    <div class="form-group">
                        {{ form_user.password.label_tag }} {{ form_user.password }}
                        <div class="input-highlight"></div>
                    </div>
                    <div class="form-group">
                        {{ form_user.confirmar_contrasena.label_tag }} {{ form_user.confirmar_contrasena }}
                        <div class="input-highlight"></div>
                    </div>
                </div>
                <button type="submit" class="btn">
                    <span class="btn-text">Crear Cuenta</span>
                </button>
            </form>
            <div class="toggle-link">
                <a href="{% url 'general:login_inicio_sesion' %}">¿Ya tienes cuenta? Inicia sesión</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'general/js/login/registro/login_registro.js' %}"></script>
<script src="{% static 'general/js/login/registro/login_registro_cliente.js' %}"></script>
{% endblock %}