{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'profesional/css/base_home.css' %}">
	{% block styles %}
	{% endblock %}
	<title>Consultor - Crear Campaña</title>
</head>

<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-buildings bx-lg'></i>
			<span class="text">Consultor</span>
		</a>
		<ul class="side-menu top">
            {% if choice and choice == 1 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:campanias_puntuales_option' %}">
					<i class='bx bx-grid-alt bx-sm'></i>
					<span class="text">Campañas puntuales</span>
				</a>
			</li>
			{% if choice and choice == 2 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:clientes_option' %}">
					<i class='bx bx-user bx-sm'></i>
					<span class="text">Clientes</span>
				</a>
			</li>
			{% if choice and choice == 3 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:bandeja_entrada_option' %}">
					<i class='bx bx-message-square-dots bx-sm'></i>
					<span class="text">Bandeja de entrada</span>
				</a>
			</li>
			{% if choice and choice == 4 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:productividad_ingresos_option' %}">
					<i class='bx bx-pie-chart-alt-2 bx-sm'></i>
					<span class="text">Productividad e ingresos</span>
				</a>
			</li>
			{% if choice and choice == 5 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:horarios_option' %}">
					<i class='bx bx-calendar bx-sm'></i>
					<span class="text">Horarios</span>
				</a>
			</li>
			{% if choice and choice == 6 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:planes_option' %}">
					<i class='bx bx-credit-card bx-sm'></i>
					<span class="text">Planes</span>
				</a>
			</li>
			<!-- {% if choice and choice == 7 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:ajustes_option' %}">
					<i class='bx bx-cog bx-sm'></i>
					<span class="text">Ajustes</span>
				</a>
			</li> -->

			<!-- {% if choice and choice == 8 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:perfil_option' %}">
					<i class='bx bx-user-circle bx-sm'></i>
					<span class="text">Perfil</span>
				</a>
			</li> -->
			{% if modelo_predictivo %}
			{% if choice and choice == 7 %}
			<li class="active">
            {% else %}
			<li>
            {% endif %}
				<a href="{% url 'profesional:prediction_acv_option' %}">
					<i class='bx bx-brain bx-sm'></i>
					<span class="text">Predicción ACV</span>
				</a>
			</li>
			{% endif %}
		</ul>
		<ul class="side-menu bottom">
			<li>
				<a href="#" class="logout">
					<i class='bx bx-log-out bx-sm'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    {% block content %}
    {% endblock %}

	<script src="{% static 'profesional/js/base_home.js' %}"></script>

	{% block scripts %}
	{% endblock %}
</body>

</html>