{% extends 'profesional/base_home.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'profesional/css/clientes.css' %}">
{% endblock %}

{% block content %}
<!-- MAIN -->
<main>
	<div class="clientes-container">
		<div class="header-section">
			<h1 class="page-title">Clientes</h1>
			<div class="header-actions">
				<button class="btn-importar">Importar clientes</button>
				<button class="btn-agregar">Agregar cliente</button>
			</div>
		</div>

		<!-- Tabla de Clientes -->
		<div class="table-container">
			<table class="clientes-table">
				<thead>
					<tr>
						<th>
							Cliente
							<i class='bx bx-sort-alt-2'></i>
						</th>
						<th>
							Email
							<i class='bx bx-sort-alt-2'></i>
						</th>
						<th>
							Teléfono
							<i class='bx bx-sort-alt-2'></i>
						</th>
						<th>
							Última visita
							<i class='bx bx-sort-alt-2'></i>
						</th>
						<th>
							Siguiente visita
							<i class='bx bx-sort-alt-2'></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Hernán Alvarado Torres</td>
						<td><a href="#" class="link-email">Agregar email</a></td>
						<td>+51 980 236 432</td>
						<td>16-12-2024 12:00</td>
						<td><a href="#" class="link-cita">Crear cita</a></td>
					</tr>
					<tr>
						<td>Hernán Alvarado Torres</td>
						<td><a href="#" class="link-email">Agregar email</a></td>
						<td>+51 980 236 432</td>
						<td>16-12-2024 12:00</td>
						<td><a href="#" class="link-cita">Crear cita</a></td>
					</tr>
					<tr>
						<td>Hernán Alvarado Torres</td>
						<td><a href="#" class="link-email">Agregar email</a></td>
						<td>+51 980 236 432</td>
						<td>16-12-2024 12:00</td>
						<td><a href="#" class="link-cita">Crear cita</a></td>
					</tr>
					<tr>
						<td>Hernán Alvarado Torres</td>
						<td><a href="#" class="link-email">Agregar email</a></td>
						<td>+51 980 236 432</td>
						<td>16-12-2024 12:00</td>
						<td><a href="#" class="link-cita">Crear cita</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
<!-- MAIN -->
<!-- CONTENT -->
{% endblock %}

{% block scripts %}
<script src="{% static 'profesional/js/clientes.js' %}"></script>
{% endblock %}